<!-- navigation -->
<header
  class="{{if site.Params.navbar_fixed}} sticky top-0 z-10 backdrop-blur-xl backdrop-saturate-150 opacity-95 {{end}} flex items-center justify-center w-[100%] py-0 min-h-[60px]"
>
  <!-- navbar -->
  <nav class="flex items-center justify-between w-[100%] max-w-[1440px] px-4">
    <div class="navbar-header flex items-center flex-grow-1">
      <!-- navbar toggler -->
      <button type="button" class="navbar-toggle block lg:hidden">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar brand/logo -->
      <a
        class="text-[21px] font-body text-primary"
        href="{{ site.BaseURL | relLangURL }}"
      >
        Alyssa <span class="text-primary">Jackson</span>
      </a>
    </div>

    <div class="navbar-collapse" id="navigation">
      <ul class="flex items-center space-x-16 pt-0">
        <!-- menu active -->
        {{ $currentPage := . }} {{ range site.Menus.main }} {{ $menuURL := .URL
        | absLangURL }} {{ $pageURL:= $currentPage.Permalink | absLangURL }} {{
        $active := eq $menuURL $pageURL }} {{ if .HasChildren }}
        <li
          class="nav-item dropdown 
          {{ range .Children }}
          {{ $childURL := .URL | absLangURL }}
          {{ $active := eq $childURL $pageURL }}
          {{ if $active }}current{{ end }}
          {{ end }}"
        >
          <a
            class="dropdown-toggle uppercase"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ .Name }} <span class="fas fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }} {{ $childURL := .URL | absLangURL }} {{
            $active := eq $childURL $pageURL }}
            <li>
              <a
                class="dropdown-item uppercase {{ if $active }}current{{ end }}"
                {{if
                findRE
                `^http`
                .URL}}target="_blank"
                rel="noopener"
                {{end}}
                href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}"
                >{{ .Name }}</a
              >
            </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a
            class="nav-link uppercase {{ if $active }}current{{ end }}"
            {{if
            findRE
            `^http`
            .URL}}target="_blank"
            rel="noopener"
            {{end}}
            href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}"
            >{{.Name}}</a
          >
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </nav>
</header>
<!-- /navigation -->
